<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.list_image.attached? ? (cl_image_path list.list_image.key, height: 300, crop: :fill) : image_url("default-bg.jpg") %>)">
  <a href="/lists/<%= list.id %>"><%= list.name %></a>
</div>
