.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;

}

@media(max-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
